.home-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-list{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: 32px;
  color: rgb(0, 0, 0);
}